import math
import sys

def main():
  print('1. toplama ')
  print('2. çıkar')
  print('3. çarpma')
  print('4. bölme')
  print('5. kare kök alma')
  secim = input('işlem yapmak istediğiniz nummarayı seçiniz ')

  if secim == '1':
    sayı1 = int(input('ilk sayıyı girin = '))
    sayı2 = int(input('ikinci sayıyı girin = '))
    print(sayı1, '+', sayı2, '=', sayı1 + sayı2)
  elif secim == '2':
    sayı1 = int(input('ilk sayıyı girin = '))
    sayı2 = int(input('ikinci sayıyı girin = '))
    print(sayı1, '-', sayı2, '=', sayı1 - sayı2)
  elif secim == '3':
    sayı1 = int(input('ilk sayıyı girin = '))
    sayı2 = int(input('ikinci sayıyı girin = '))
    print(sayı1, '*', sayı2, '=', sayı1 * sayı2)
  elif secim == '4':
    sayı1 = int(input('ilk sayıyı girin = '))
    sayı2 = int(input('ikinci sayıyı girin = '))
    print(sayı1, '/', sayı2, '=', sayı1 / sayı2)
  elif secim == '5':
    sayı = float(input('karekökünü almak istediğiniz sayıyı girin '))
    print('karekök:', math.sqrt(sayı))
  else: 
    print('hata')

while True:
  islem = input('işlem yapmak için (n) tuşuna basın    ')
  if islem == 'n':
     main()
  
  else:
      break




print('programdan çıkılıyor')
